# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables file
.env

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store

# Python virtual environments
venv/
env/

# Logs and databases
*.log
*.sqlite3

# JSON files with sensitive info
ids.json
exam_notes.json

# Python packaging
*.egg-info/
dist/
build/

# Pytest cache
.pytest_cache/
